.mi-formulario label {
  display: block;
  margin-bottom: 10px;
}

.mi-formulario input[type="text"],
.mi-formulario input[type="email"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.mi-formulario input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.mi-formulario input[type="submit"]:hover {
  background-color: #45a049;
}

.card-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; /* Ajusta la forma en que se ajusta la imagen dentro del contenedor */
}

.card-title-custom {
  font-size: 18px; 
  line-height: 24px; /* Ajusta el valor de la altura de línea según tus necesidades */
}

.card-text-custom {
  font-size: 14px; 
  line-height: 20px; /* Ajusta el valor de la altura de línea según tus necesidades */
}


.carousel-container {
  width: 90%;  
  /* Ajusta el tamaño de acuerdo a tus necesidades */
  max-width: 600px;  
  /* Ajusta el tamaño máximo permitido */
  margin: 0 auto; 
  /* Centra horizontalmente el carrousel */
}

.carousel-inner {
  height: 200px; 
}



/***** Slider ************/
.slider-frame {
	width: 1280px;
  height: auto;
	margin:0px auto 0;
	overflow: hidden;
}
.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: slide 20s infinite alternate ease-in-out;
}
.slider-frame li {
	width: 100%;
	list-style: none;
}
.slider-frame img {
	width: 100%;
  height: auto;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.texto-encima{ /* para colocar texto sobre slider   */
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size:40px;
    color: rgb(255, 255, 255);
}
.carrousel{  
    position: relative;
    text-align: center;
    font-weight: bold;
}