{% extends 'Viajeros/base/base.html' %}

{% load static %}

{% block extra_css %}
  <!--   <link rel="stylesheet" href="{% static 'aula_virtual/css/alta_alumno.css' %}">   -->
{% endblock %}

{% block titulo %}{% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}

      <!-- {% if user.is_authenticated %} -->
        <h2>FORMULARIO DE CONSULTA</h2>
        <br>

        <form action="{% url 'enviar_consulta' %}" method="POST">
          {% csrf_token %}
          {{form.as_p}}
          <br>
          <input type="submit" class="btn btn-primary" value="ENVIAR CONSULTA">
          <br> 
       </form>

      <!-- {% else %}
        <h2> Por favor ingrese con su usuario y contraseña antes de realizar la reserva</h2>
        <a href="{% url 'login' %}" class="btn btn-primary" > Continuar</a> -->

      {% endif %}
  <br>
  {% endblock %}


