{% extends 'Viajeros/base/base.html' %}


{% load static %}

{% block extra_css %}
    <!-- <link rel="stylesheet" href="{% static 'aula_virtual/css/listar_instructores.css' %}"> -->
{% endblock %}

{% block titulo %}  {% endblock %}

{% block encabezado %}

{% endblock %}

{% block contenido %}
<section class="listado">
    Listado de Reservas de Reataurantes.
    <br>
    Usuario: {{user.username}}
    <br>
    {% for reserva in listado_reservas_gastronomia %}
        <article>
            <br>
            <p><b>fecha de registracion:</b>: {{reserva.fecha_registracion}}</p>
            <p><b>fecha reserva:</b>: {{reserva.fecha_reserva}}</p>
            <p><b>Adultos:</b>: {{reserva.adulto}}</p>
            <p><b>Menores:</b>: {{reserva.menor}}</p>
            <p><b>Tipo de reserva:</b>: {{reserva.Tipo_reserva}}</p>
            <p><b>Restaurante:</b>: {{reserva.restaurante}}</p>

        </article>
        {% empty %}
            <p><b>No posee reservas de restaurantes registradas para este usuario</b>
        {% endfor %}
        </section>
        <a href="#" class="btn btn-primary">Modificar</a>
        
{% endblock %}